@import "../sass/vars";

.main-btn{
    padding: 0.7rem;
    border-radius: 1.2rem;
    color: white;
    border: none;
    background-color: $primary_col;
}

.jumbo-btn{
    padding: 0.7rem;
    border-radius: 1.2rem;
    color: white;
    background-color: $secondary_btn_col;
}

.general-btn{
    padding: 0.5rem;
    text-align: center;
    border-radius: 2rem;
    border: 0.1rem solid $btn_gray;
    color: $btn_gray;
    background-color: white ;

    &:hover{
        background-color: $primary_col;
        border: none;
        color: white;
        cursor: pointer;
    }
}

